@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.start-game {
  font-family: "Roboto Mono", monospace;
  width: 70%;
  border: 2px solid;
  border-radius: 20px;
  padding: 20px;
  font-size: 15px;
  background: linear-gradient(0deg, rgba(255,245,155,1) 0%, rgba(195,187,114,1) 47%, rgba(163,156,96,1) 100%);
  margin: 30px;

}
.start-game > ul {
  text-align: left;
}
.start-game > button{
    font-family: "Permanent Marker", cursive;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: aquamarine;
    width: 200px;

}
.black-ball{
    font-family: 'Special Elite', cursive;
    font-size: 70px;
    margin: 30px;
}
